.trolley {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: white;
    padding: 25px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 0px 50% 50% 50%;
}

.trolley-animation-up {
    animation-name: up;
    animation-duration: 1s;
}

.trolley-animation-down {
    animation-name: down;
    animation-duration: 1s;
}

.trolley-open {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    bottom: 50px;
    right: 50px;
    background-color: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.trolley-open ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.trolley-open ul li button {
    padding: 10px;
}

.trolley-open ul li .value {
    background-color: #F1F1F1;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 6px;
}

.trolley-open button {
    outline: none;
    border: none;
    background-color: transparent;
}

.trolley-button-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FA7D23 !important;
    border-radius: 15px;
    color: white;
    padding: 20px;
}

.trolley-button-buy > a {
    padding-left: 10px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 20px;
}

.trolley-button-buy > img {
    width: 25px;
    height: 25px;
}

.trolley-open ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.trolley-open ul li h1 {
    font-size: 20px;
}

.logo-trolley {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.close-trolley {
    width: 25px;
    height: 25px;
    margin-bottom: 40px;
}

@keyframes down {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}


@keyframes up {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(-50px);
    }
}

@media (max-width: 600px) {

    .trolley {
        position: fixed;
        bottom: 30px !important;
        right: 30px !important;
        background-color: white;
        padding: 15px;
    }

    .trolley > img {
        width: 25px;
        height: 25px;
    }

    .trolley-open {
        position: fixed;
        bottom: 30px !important;
        right: 30px !important;
        background-color: white;
        padding: 15px;
    }

}