.feedback-header {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.feedback-header > .title {
    font-size: 82px;
    color: white;
    padding: 20px;
}

.feedback-header > img {
    width: 250px;
}

.feedback-header > .subtitle {
    font-size: 32px;
    color: white;
}

/* Conteudo */

.feedback-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback-box {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    text-align: center;
    border-radius: 25px;
}

.feedback-box > p {
    margin: 20px;
}

.feedback-box > img {
    width: 150px;
    border-radius: 50%;
    margin: 20px;
}

@media (max-width: 600px) {

    .feedback-header .title {
        font-size: 32px;
    }

    .feedback-header .subtitle {
        font-size: 24px;
    }

}