.onda-one {
    position: absolute;
    left: 0%;
    top: 0%;
}

.onda-two {
    position: absolute;
    right: 0%;
    bottom: 0%;
    transform: rotate(180deg);
}

.carrinho {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrinho-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.carrinho-box > img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.carrinho-box > ul li button {
    outline: none;
    border: none;
    background-color: transparent;
}

.carrinho-box ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.carrinho-box ul li button {
    padding: 10px;
}

.carrinho-box ul li .value {
    background-color: #F1F1F1;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 6px;
}

.carrinho-box ul li {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.carrinho-box ul li h1 {
    text-align: left;
    font-size: 20px;
}

.button-metodo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #FE8A37;
}

.button-metodo > img {
    margin-left: 10px;
    margin-right: 20px;
}

.button-metodo > h1 {
    margin-right: 20px;
}

.no-items {
    padding: 40px;
    font-weight: 700;
    font-size: 20px;
    color: #FE8A37;
}

.cupon-div {
    display: flex;
    align-items: center;
}

.total-value {
    font-size: 24px;
    padding-top: 10px;
}

.alert-cupom {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.MuiAlert-message > h1 {
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 600px) {

    .onda-two {
        display: none;
    }

    .onda-one {
        display: none;
    }

    .carrinho {
        margin-top: 0% !important;
    }

    .carrinho-box {
        border-radius: 0px;
    }

    .carrinho-box h1 {
        text-align: center;
    }

}