@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FA7D23;
}

.initial {
    background-color: #FA7D23;
    margin-top: 10%;
    margin-left: 20%;
    flex-direction: column;
}

.initial > img {
    order: -1;
    width: 500px;
    height: 500px;
}

.initial > h1 {
    font-family: 'Nunito';
    font-weight: 900;
    order: 2;
    color: white;
    margin-top: -25%;
    font-size: 82px;
    margin-left: 40%;
}

.initial > p {
    font-family: 'Nunito';
    font-weight: 800; 
    order: 3;
    color: white;
    width: 450px;
    font-size: 30px;
    margin-left: 40%;
}

.initial > button {
    margin-top: 20px;
    order: 4;
    margin-left: 40%;
    height: 100px;
    overflow: hidden;
    width: 420px;
    outline: none;
    background: transparent;
    border: #FFFF 4px solid;
    cursor: pointer;
    border-radius: 30px;
}

.initial > button > a {
    padding: 40px;
    color: white;
    font-family: 'Nunito';
    font-weight: 800;
    font-size: 32px;
    order: 2;
    color: white;
    margin-top: -25%;
    text-decoration: none;
    font-size: 47;
}

@media (max-width: 600px) {

    .initial {
        margin-top: 0% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0% !important;
    }

    .initial > img {
        width: 250px;
    }

    .initial > h1 {
        font-size: 24px;
        margin-left: 0% !important;
    }

    .initial > p {
        margin-left: 0% !important;
        font-size: 16px;
        padding: 10px;
        width: 320px;
        text-align: center;
    }

    .initial > button {
        margin-left: 0% !important;
        width: 170px;
        height: 80px;
        border-radius: 10;
        margin-bottom: 10%;
    }

    .initial > button > a {
        padding: 10px;
        font-weight: 900;
        font-size: 16px !important;
    }

}