.pendente {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.pendente > h1 {
    font-size: 36px;
    padding: 30px;
    color: white;
}

.pendente > p {
    font-size: 26px;
    margin: 0 30%;
    text-align: center;
    font-weight: 700;
    color: white;
}

.pendente > button {
    margin-top: 20px;
    padding: 10px 40px;
    outline: none;
    border: none;
    border-radius: 12px;
}

.pendente > button > a {
    font-family: 'Nunito';
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
    color: #FE8A37
}